*DS_Store
Results/*/*
!Results/*/bestvloss.txt
!Results/*/model_best.json
!Results/*/model.json
!Results/*/testloss_final.txt
*.sh
slurm*
runs
.idea/
.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
Configs/*
!Configs/.gitkeep
!Configs/ht11.json
!Configs/muff1.json
Data/*
!Data/test/ht1-input.wav
!Data/test/ht1-target.wav
!Data/train/ht1-input.wav
!Data/train/ht1-target.wav
!Data/val/ht1-input.wav
!Data/val/ht1-target.wav
!Data/train/muff-input.wav
!Data/train/muff-target.wav
!Data/test/muff-input.wav
!Data/test/muff-target.wav
!Data/val/muff-input.wav
!Data/val/muff-target.wav

